{% extends "bootstrap/base.html" %}
<html>
	<head>
		{% block title %}
		Search for Restaurants
		{% endblock %}

		{% block styles %}
		<link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
		<link href="{{url_for('.static', filename='navbar.css')}}" rel="stylesheet">
		{% endblock %}

	</head>
	
	<body>
		{% block navbar %}
		<div class="nav_bar">
			<a href="{{url_for('index')}}">Search restaurants</a><hr>
		</div>
		{% endblock %}
		{% block content %}
		{% endblock %}
	</body>
</html>
