{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="jumbotron big-banner" style="height : 100%; padding-top: 15px; background-image:url(https://images.unsplash.com/photo-1533066636271-fdbe3e84ad80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80); background-size: cover">
	<h1 align="center"> Top Restaurant </h1>
	<div>
		<p align="center">
			{% if rest %}
				Restaurant name: {{rest['rest']['name']}}<br>
				{{rest['rest']['stars']}} stars <br>
				{{rest['rev_count']}} reviews <br>
				Address: {{rest['rest']['address']}}, {{rest['rest']['city']}},
				{{rest['rest']['state']}}, {{rest['rest']['postal_code']}}<br> <br>

				{% if photos != [] %}
					Photos: <br>
					<div align="center">
						{% for p in photos %}
							<figure style="display: inline-block; margin: 20px">
								<div class="col-4">
								<img src="/static/{{p['p']['id']}}.jpg" alt='missing' style="width: 300px; height: 300px" />
								{% if p['p']['caption'] != '' %}
									<figcaption>{{p['p']['caption']}}</figcaption>
								{% endif %}
								</div>
							</figure>
						{% endfor %}
					</div>
				{% endif %}
		</p>
		<div style="background-color:white">
		<p style="margin-left: 20%">
			{% if top_review %} 
				<h2>Top Review</h2>
				by {{top_review['u']['name']}}: <br>
				{{top_review['r']['stars']}} stars <br>
				{{top_review['r']['text']}} <br>

				{% if ad_rests != [] %}
					<h3>Other restaurants in the area: </h3>
					<ul>
						{% for r in ad_rests %}
							<li>{{r['name']}}</li>
						{% endfor %}
					</ul>
				{% else %}
					There are no other restaurants in your area that match this criteria :(
				{% endif%}
			{% endif %}

			{% else %}
			<div style="height : 500px;">
				<p align="center">
					No restaurant found :( <br>
					Sorry, there isn't a restaurant that matches your criteria. <br>
					Click "Search Restaurants" in the top left to try a different search.
				</p>
			</div>
			{% endif %}
		</p>
		</div>
	</div>
</div>
{% endblock %}
