<!DOCTYPE html>
<html>
  <head>
    <title>Search restaurant</title>
  </head>
  <body>
    {% if rest != "" %}
      <p>Recommended restaurant: {{rest}}</p>
      <p>{{rest_stars}} stars, {{review_count}} reviews</p>
    {% else %}
      <p>No restaurants found</p>
    {% endif %}
    {% if top_rev_text%}
      <p>Top review:</p>
      <p>Reviewer: {{top_reviewer}}</p>
      <p>{{top_rev_stars}} stars</p>
      <p>{{top_rev_text}}</p>
    {% endif %}
    {% if other_rests %}
      <p>Other restaurants:</p>
      <ul>
        {% for x in other_rests%}
          <li>{{x['name']}}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </body>
</html>
