{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% macro render_dropdown(field) %}
<div class="container">
   {{ field(class='form-control')}}
</div>
{% endmacro %}

{% macro render_button(field) %}
<div class="container">
   {{ field(class='form-control')}}
</div>
{% endmacro %}

{% block content %}
<div class="jumbotron big-banner" style="height : 100%; background-image:url(https://images.unsplash.com/photo-1529599087-bcf1dc4a7ae4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1304&q=80); background-size: cover">
    <h1 align="center" style="font-family: 'bebas_neueregular'"">Eat in : Arizona</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div align="center">
            <h3 style="color:white;">City</h3> 
            <div style="width: 25%">
            {{ render_dropdown(form.city) }}
            </div>
        </div>
       <div align="center">
            <h3 style="color:white;">Cuisine</h3> 
            <div style="width: 25%">
            {{ render_dropdown(form.cuisine) }}
            </div>
        </div>
        <div align="center">
            <h3 style="color:white;">Day</h3> 
            <div style="width: 25%">
            {{ render_dropdown(form.day) }}
            </div>
        </div>
        <div align="center">
            <h3 style="color:white;">Time</h3>
            <div style="width: 10%">
                {{ render_button(form.time) }}
            </div>
            <br><br>
        </div>
        <div align="center">
            <div style="width: 10%">
            {{ render_button(form.search) }}
            </div>
        </div>
    </form>
</div>
{% endblock %}