{% extends "base.html" %}

{% block content %}
<div class="jumbotron big-banner" style="height : 500px; padding-top: 15px;">
    <h1 align="center">Eat in : Arizona</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.city.label }} <br>
            {{ form.city }}
        </p>
        <p>
            {{ form.cuisine.label }}<br>
            {{ form.cuisine }}
        </p>
        <p>
            {{ form.day.label }}<br>
            {{ form.day }}
        </p>
        <p>
            {{ form.time.label }}<br>
            {{ form.time() }}
        </p>
        <p>{{ form.search() }}</p>
    </form>
</div>
{% endblock %}